{% extends 'base.html' %} {% block content %}

<div class="pagetitle">
  <h1>Allotment</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('views.base')}}">Home</a></li>
      <li class="breadcrumb-item active">Allotment</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->
<section class="content">
<div class="col-12">
  <div class="card recent-sales overflow-auto">
    

    <div class="card-body">
      <h5 class="card-title"><span>Allotment  List</span></h5>

      <table class="table table-borderless datatable">
        <thead>
          <tr>
            <th
              scope="col"
              class="sorting_asc"
              tabindex="0"
              aria-controls="example1"
              rowspan="1"
              colspan="1"
              aria-sort="ascending"
              aria-label="#: activate to sort column descending"
              style="width: 19.5938px"
            >
              #
            </th>
            <th
              scope="col"
              tabindex="0"
              aria-controls="example1"
              rowspan="1"
              colspan="1"
              aria-label="Stud ID: activate to sort column ascending"
              style="width: 139.641px"
            >
              student ID
            </th>
            <th
              scope="col"
              class="sorting"
              tabindex="0"
              aria-controls="example1"
              rowspan="1"
              colspan="1"
              aria-label="Stud Name: activate to sort column ascending"
              style="width: 185.828px"
            >
              Student Name
            </th>
            <th
              scope="col"
              class="sorting"
              tabindex="0"
              aria-controls="example1"
              rowspan="1"
              colspan="1"
              aria-label="Phone Number: activate to sort column ascending"
              style="width: 108.578px"
            >
              Phone Number
            </th>
            <th
              scope="col"
              class="sorting"
              tabindex="0"
              aria-controls="example1"
              rowspan="1"
              colspan="1"
              aria-label="Block: activate to sort column ascending"
              style="width: 85.375px"
            >
              Block
            </th>
            <th
              scope="col"
              class="sorting"
              tabindex="0"
              aria-controls="example1"
              rowspan="1"
              colspan="1"
              aria-label="Category: activate to sort column ascending"
              style="width: 69.3594px"
            >
              Category
            </th>

            <th
              scope="col"
              class="sorting"
              tabindex="0"
              aria-controls="example1"
              rowspan="1"
              colspan="1"
              aria-label="Room-type: activate to sort column ascending"
              style="width: 65.8281px"
            >
              Room Type
            </th>

            <th
              class="sorting"
              tabindex="0"
              aria-controls="example1"
              rowspan="1"
              colspan="1"
              aria-label="Room: activate to sort column ascending"
              style="width: 65.8281px"
            >
              Room Number
            </th>
            <th
              class="sorting"
              tabindex="0"
              aria-controls="example1"
              rowspan="1"
              colspan="1"
              aria-label="Bill: activate to sort column ascending"
              style="width: 65.8281px"
            >
              Bill
            </th>

            <th
              class="sorting"
              tabindex="0"
              aria-controls="example1"
              rowspan="1"
              colspan="1"
              aria-label="Room: activate to sort column ascending"
              style="width: 65.8281px"
            >
              Paid
            </th>

            <th
              class="sorting"
              tabindex="0"
              aria-controls="example1"
              rowspan="1"
              colspan="1"
              aria-label="Room: activate to sort column ascending"
              style="width: 65.8281px"
            >
              Status
            </th>
          </tr>
        </thead>
        <tbody>
          {% if allotment %} {% for allot in allotment %}
          <!-- Display table rows here -->
          <tr class="">
            <th scope="row" ></th>
            <td>{{ allot.id }}</td>
            <td ><a href="#" class="text-primary">{{ allot.studName }}<a></td>
            <td>{{ allot.Phone }}</td>
            <td>{{ allot.Block }}</td>
            <td>{{ allot.category }}</td>
            <td>{{ allot.RoomType }}</td>
            <td>{{ allot.RoomNum }}</td>
            <td>{{ allot.Bill }}</td>
            <td>{{ allot.Paid }}</td>
            {% if allot.Status == "Paid" %}
            <td><span class="badge bg-success">{{ allot.Status }}</span></td>
            {% else %}
            <td><span class="badge bg-danger">{{ allot.Status }}</span></td>
            {% endif %}
          </tr>
          {% endfor %} {% else %}
          <tr>
            <td valign="top" colspan="11" class="dataTables_empty">
              No matching records found
            </td>
          </tr>
          {% endif %}
         
        
        </tbody>
      </table>
    </div>
  </div>
</div>
  <!-- /.row -->
</section>
{% endblock %}




